<br>
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Set Object Detection distance {{message}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-slider
          class="example-margin"
          [disabled]="disabled"
          [invert]="invert"
          [max]="max"
          [min]="min"
          [step]="step"
          [thumbLabel]="thumbLabel"
          [tickInterval]="tickInterval"
          [(ngModel)]="value"
          (ngModelChange)="onChange($event)"
          [vertical]="vertical">
      </mat-slider>
      <mat-checkbox [(ngModel)]="aboveMax" (click)="setAboveMax()">Above 400mm</mat-checkbox>
      <br>
      <p *ngIf="+noOfDetections > 0">
        Object detected : {{noOfDetections}} 
        <button mat-icon-button aria-label="Example alert icon">
          <mat-icon>speaker_phone</mat-icon>
        </button>
      </p>
    </mat-card-content>
  </mat-card>