.example-card {
    max-width: 100%;
    width: 100%;
    margin-top: 40px;
}

.example-h2 {
    margin: 10px;
  }
  
.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
}

.example-margin {
    margin: 10px;
}

.mat-slider-horizontal {
    width: 300px;
}

.mat-slider-vertical {
    height: 300px;
}